@model PaginatedList<AnagramSolver.Contracts.Models.Anagram>
@{
    ViewData["Title"] = "All Words";
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>
<div style="float:right;" class="mb-3">
    <a class="btn btn-info" href="/api/files/dictionary">Download dictionary</a>
    <a class="btn btn-primary" asp-action="Create">Add new word</a>
</div>
<div class="pt-3 mb-3">
    <form class="form-inline ml-3" asp-action="Index" style="float:right;">
        <label>Filter by phrase:</label>
        <input class="form-control ml-2" type="text" name="phrase" placeholder="Search">
        <button class="btn btn-primary ml-1" type="submit">Search</button>
    </form>
</div>
<table class="table pt-3">

    <thead>
        <tr>
            <th>Word</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Word">@item.Word</a>
                </td>
            </tr>
        }
    </tbody>
</table>



